{% extends "backendLayout.html.twig" %}

{% block head %}
    {{ parent() }}
    <title>Standorte</title>
{% endblock %}
{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Standorte</h1>
                <table class="table table-striped table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Standort</th>
                            <th scope="col">Plz</th>
                            <th scope="col">Strasse</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for city in cities %}  
                            <tr>
                                <th>{{ city.uid|e }}</th>
                                <td><a href="index.php?module=site&controller=site&action=show&data[cityUid]={{ city.uid|e }}">{{ city.name|e }}<a></td>
                                <td>{{ city.zip|e }}</td>
                                <td>{{ city.address|e }}</td>
                            </tr>                   
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}